<?xml version='1.0' encoding='utf-8'?>
<widget id="darkengines.chat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DarkEngines</name>
    <description>
        A chat
    </description>
    <author email="rivarol89@hotmail.com" href="http://www.darkengines.net/">
        Florent Tollin de Rivarol
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
